@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #bbf246;
  --f7-theme-color-rgb: 187, 242, 70;
  --f7-theme-color-shade: #adef20;
  --f7-theme-color-tint: #c9f56c;

  --f7-page-bg-color: #21292E;
}

/* Your app custom styles here */
.home-header {
  background-color: var(--f7-theme-color);
  padding: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  color: var(--f7-page-bg-color);
  display: flex;
  flex-direction: column;

  .title {
    font-weight: 700;
    font-size: 32px;
  }
  .search-box {
    background-color: #00000022;
    margin-top: 24px;
    border-radius: 99px;
    overflow: hidden;
    display: flex;
    position: relative;

    .search-icon {
      position: absolute;
      right: 16px;
      top: 8px;
    }

    input {
      flex: 1;
      border: none;
      padding: 10px 16px;
      font-family: 'Poppins', sans-serif;
      background-color: transparent;
      margin-right: 48px;
    }
  }
}

.app-fab {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 32px;
  bottom: 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--f7-theme-color);
  color: var(--f7-page-bg-color);
}
